@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

body {
  background: black;
  border: 1px solid red;
}

#canvas1 {
  background: white;
  font-family: "Orbitron", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
}
